<ion-view title="About the Trail">
	<ion-content>
	<div style="padding: 10px;">
	<p>The Centenary Trail is a 145 kilometre self-guided, non-motorised loop trail for walkers and touring cyclists that showcases Canberra and takes users on a journey between urban and rural environments past iconic sites and hidden treasures.</p>
	<iframe width="100%" height="281" title="video" src="https://player.vimeo.com/video/137927730" frameborder="0" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen=""></iframe>

<p>The Centenary Trail is divided into daily sections, spaced for walkers and bike riders. Users are able to join or leave the trail in many locations.</p>
<p>The Centenary Trail is:</p>
<ul>
	<li>a seven day walk, averaging just over 20 kilometres per day or</li>
	<li>a three day ride, averaging just over 45 kilometres per day.</li>
</ul>
<p>The trail is designed to be accessible for as many walkers and cyclists as possible. It follows fire trails, walking tracks and shared paths in urban and natural areas and is open to everyone. The trail is designed for low intensity use by all walkers and cyclists of moderate ability and is generally less than 10 percent gradient.</p>

<p>Centenary Trail maps showing the full trail alignment as well as general information about the trail, are available from:</p>

<p>
	Canberra Visitor's Centre, 330 Northbourne Ave, Dickson ACT<br/>
	Civic Library. <br/>
</p>
<p>Hard copies of the detailed section maps are available on request. Please contact Access Canberra on telephone 13 22 81 or email <a href="mailto:TAMSCentenaryTrail@act.gov.au">TAMSCentenaryTrail@act.gov.au</a></p>
</div>
	</ion-content>
</ion-view>