/* Empty. Add your own CSS if you like */
.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}

ion-avatar {
  min-width: 3.6rem;
  min-height: 3.6rem; }
  ion-avatar img {
    max-width: 3.6rem;
    max-height: 3.6rem;
    border-radius: 1.8rem; }

div#myDiv {
    -webkit-transform: rotateX(50deg); /* Safari */
    transform: rotateX(50deg); /* Standard syntax */
}

.demoBtn {
  top: 47px;
  z-index: 999;
  right: 4px;
  position: absolute;
}